{
  "presets": [
    [
      "@babel/env",
      {
        "shippedProposals": true,
        "targets": {
          "browsers": ["last 2 versions", "not ie > 0", "not Android > 0"],
          "node": "8.10"
        }
      }
    ]
  ]
}
